@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&family=Rubik:wght@300;400&display=swap');

html {
  overflow-y: scroll;
}

body, input, button, textarea, select {
  box-sizing: border-box;
  font-family: Rubik, Avenir, Helvetica, Arial, sans-serif;
  color: var(--el-text-color-primary);
}

// TEXT SIZES
.text0 {
  font-size: 10px !important;
}
.text1 {
  font-size: 12px !important;
}
.text2 {
  font-size: 13px !important;
}
.text3 {
  font-size: 14px !important;
  font-weight: bold !important;
}
.text4 {
  font-size: 16px !important;
  font-weight: bold !important;
}

.el-collapse-item__header {
  border-left: 10px solid;
}

// STATUS COLORS
.in-process .el-collapse-item__header {
  background: var(--el-color-primary-light-3);
  border-left-color: var(--el-color-primary-light-5);
}

.planned .el-collapse-item__header {
  background: var(--el-color-warning-light-3);
  border-left-color: var(--el-color-warning-light-5);
}

.completed .el-collapse-item__header {
  background: var(--el-color-success-light-3);
  border-left-color: var(--el-color-success-light-5);
}

.postponed .el-collapse-item__header {
  background: var(--el-color-info-light-3);
  border-left-color: var(--el-color-info-light-5);
}

.abandoned .el-collapse-item__header {
  background: var(--el-color-danger);
  border-left-color: var(--el-color-danger-light-3);
}
