.el-collapse-item__header {
    border-left: 10px solid;
}

.looking .el-collapse-item__header {
    background: var(--el-color-primary-light-3);
    border-left-color: var(--el-color-primary-light-5);
}

.planned .el-collapse-item__header {
    background: var(--el-color-warning-light-3);
    border-left-color: var(--el-color-warning-light-5);
}

.viewed .el-collapse-item__header {
    background: var(--el-color-success-light-3);
    border-left-color: var(--el-color-success-light-5);
}

.postponed .el-collapse-item__header {
    background: var(--el-color-info-light-3);
    border-left-color: var(--el-color-info-light-5);
}

.abandoned .el-collapse-item__header {
    background: var(--el-color-danger);
    border-left-color: var(--el-color-danger-light-3);
}
